{% set head = data.head %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ head.title }}</title>
        <meta property="og:title" content="{{ head.title }}"/>

        <meta name="description" content="{{ head.description }}">
        <meta property="og:description" content="{{ head.description }}"/>

        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ head.url }}"/>
        <meta property="og:image" content="{{ head.image }}"/>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ head.favicon }}</text></svg>">

        <link rel="stylesheet" href="/css/style.css">

        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body>
        {% include "modules/header.njk" %}

        <main class="site-main">
            {{ content | safe }}
        </main>

        {% include "modules/footer.njk" %}
        <script src="script.js"></script>
        <script>
            if (window.netlifyIdentity) {
                window
                    .netlifyIdentity
                    .on("init", user => {
                        if (!user) {
                            window
                                .netlifyIdentity
                                .on("login", () => {
                                    document.location.href = "/admin/";
                                });
                        }
                    });
            }
        </script>
    </body>
</html>