{% set links = data.footer %}

{% module "footer", "site" %}
    {# {% for link in links %}
        {% button link.link, link.text, "text-link", true %}
    {% endfor %} #}


    <h2>⚠️ New site coming soon! This ridiculously minimal site is just a placeholder. ⚠️</h2>
{% endmodule %}