{% set links = data.footer.siteMenu %}

{% module "footer", "site" %}
    <nav class="site-menu">
        <ul class="link-list">
        {% for link in links %}
            <li class="link">
                <a href="{{link.link}}">{{ link.text }}</a>
            </li>

            {% if loop.last === false %}
                <span class="divider">/</span>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>

{% endmodule %}