{% set links = data.footer %}

{% module "footer", "site" %}
    {# {% for link in links %}
        {% button link.link, link.text, "text-link", true %}
    {% endfor %} #}

    <nav class="site-menu">
        <ul class="link-list">
            <li class="link">
                <a href="#">GitHub</a>
            </li>

            <li class="link">
                <a href="#">Dribbble</a>
            </li>

            <li class="link">
                <a href="#">Twitter</a>
            </li>
        </ul>
    </nav>

{% endmodule %}