{% set header = data.header %}   

{% module "header", "site"%} 
    <a href="{{ header.home.link }}" class="logo">
    {% include "components/logo.svg" %}
    <div class="wordmark">
        <span class="title">{{ header.home.title }}</span>
        <span class="subtitle">{{ header.home.subtitle }}</span>
    </div>
    </a>

    <hr>

    <nav class="site-menu"> 
        <ul class="link-list">  
        {% for link in header.siteMenu %}
            <li class="link">
                <a href="{{ link.link }}">{{ link.text }}</a>
            </li>
            {% if loop.last === false %}
                <span class="divider">/</span>
            {% endif %}
    {% endfor %}  
        </ul>
    </nav>
{%endmodule%}