{% set home = data.header.home %}
{% set contact = data.header.contact %}

{% module "header", "site"%}
    <a href="/" class="wordmark">
        <span class="title">Michael Hyland</span>
        <spa class="subtitle">Web Development + Graphic Design</span>
    </a>

    {# <hr>

    <nav class="site-menu">
        <ul class="link-list">
            <li class="link">
                <a href="#">Projects</a>
            </li>

            <li class="link">
                <a href="#">Blog</a>
            </li>

            <li class="link">
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav> #}

{%endmodule%}