/* 
||||||||||||||||||||||||||||||||||||

        Primary Button 

||||||||||||||||||||||||||||||||||||
*/

.primary-btn {
    font-family: var(--roboto);
    background-color: transparent;
    padding: 0;
    font-size: var(--font-size-3);
    color: var(--accent);
    font-weight: 500;
    letter-spacing: 0.03em;

    background-image: linear-gradient(to right, var(--light-accent), var(--accent));
    background-position: left bottom 0px;
    background-repeat: no-repeat;
    padding-bottom: 4px;
    background-size: 0% 2px;
    transition: 0.5s ease-in-out;
}

.primary-btn span {
    line-height: 1.5;
}

.primary-btn span::after {
    content: "→";
    margin-left: 5px;
    font-weight: 700;
    font-size: var(--font-size-4);
    vertical-align: middle;
    transition: margin-left 0.5s ease-in-out;
}

/* 
||||||||||||||||||||||||||||||||||||

        Secondary Button 

||||||||||||||||||||||||||||||||||||
*/

.secondary-btn {
    font-family: var(--roboto);
    font-size: var(--font-size-2);
    font-weight: 400;
    color: var(--accent);
    letter-spacing: 0.02em;

    background-image: linear-gradient(to right, var(--light-accent), var(--accent));
    background-position: left bottom 0px;
    background-repeat: no-repeat;
    padding-bottom: 4px;
    background-size: 0% 2px;
    transition: 0.5s ease-in-out;
}

.secondary-btn span {
    line-height: 1.5;
}

.secondary-btn span::after {
    content: "→";
    margin-left: 5px;
    vertical-align: middle;
    font-weight: 500;
    font-size: var(--font-size-25);
    transition: margin-left 0.5s ease-in-out;
}

/* 
||||||||||||||||||||||||||||||||||||

        Site Menu Buttons 

||||||||||||||||||||||||||||||||||||
*/

[class*="link-list"] {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

[class*="link"] a {
    font-family: var(--roboto);
    font-weight: 400;
    font-size: var(--font-size-1);
    letter-spacing: 0.02em;
    color: var(--accent);
    text-transform: capitalize;
}

.divider {
    color: var(--ink);
    font-family: var(--roboto);
    font-weight: 400;
}

.projects-section .divider {
    color: var(--ink);
}

.site-footer .link a {
    color: var(--paper);
}

.site-footer .divider {
    color: var(--light-accent);
}

/* 
||||||||||||||||||||||||||||||||||||

        CARD COMPONENTS

||||||||||||||||||||||||||||||||||||
*/

[class*="card-list"] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    margin-top: 100px;
}

[class$="card"] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
    max-width: 48ch;
}

[class*="card-title"] {
    font-family: var(--roboto);
    color: var(--ink);
    font-size: 26px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.02em;
}

[class*="card-description"] {
    font-family: var(--roboto);
    font-size: var(--font-size-2);
    font-weight: 300;
    color: var(--ink);
    line-height: 1.5;
}

[class*="card"] .link {
    color: var(--gray);
}

/* 
||||||||||||||||||||||||||||||||||||

        HORIZONTAL LINE

||||||||||||||||||||||||||||||||||||
*/

hr {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, var(--light-accent), var(--accent) 60%);
    /* background-color: pink; */
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    /* box-shadow: 1px 1px var(--dark-accent); */
}

/* 
||||||||||||||||||||||||||||||||||||

            IMAGES

||||||||||||||||||||||||||||||||||||
*/

.hero-image {
    max-width: 500px;
    margin-inline: auto;
}

/* 
||||||||||||||||||||||||||||||||||||

        COMPONENT SETTINGS

||||||||||||||||||||||||||||||||||||
*/

hr, .site-header .site-menu {
    display: none;
}

.logo {
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

.computer-logo {
    max-width: 54px;
}

.computer-logo :is(.inner-case, .letter) {
    fill: var(--accent);
}

.computer-logo :is(.outer-case, .screen) {
    fill: var(--paper);
}
