@media (prefers-color-scheme: dark) {
    html {
        --ink: #ECE4D5;
        --paper: #242424;

        --accent: var(--purple-light-accent);
        --light-accent: var(--green-dark-accent);

        background-color: var(--paper);

    }

    :is(.primary-btn, .secondary-btn):hover {
        color: var(--green-light-accent);
    }

    :is(.title, .subtitle) {
        text-shadow: none;
        color: var(--green-light-accent);
    }

    .computer-logo :is(.inner-case, .letter) {
        fill: var(--purple-accent);
    }
    
    .computer-logo :is(.outer-case, .screen) {
        fill: var(--green-light-accent);
    }

    h1 a {
        -webkit-text-stroke-color: var(--green-light-accent);
    }

    h1 a:hover {
        -webkit-text-fill-color: var(--green-light-accent);
    }

    .link a:hover {
        color: var(--green-light-accent);
    }

    .section-title {
        text-shadow: none;
        color: var(--green-light-accent);
    }

    [class$="card"] {
        background: none;
        border: 1px dashed var(--green-light-accent);
        box-shadow: 5px 5px var(--green-light-accent);
    }


    
}
