@media (prefers-color-scheme: dark) {
    html {
        --ink: #ECE4D5;
        --paper: #242424;

        --accent: var(--purple-light-accent);
        --light-accent: var(--green-dark-accent);

        background-color: var(--paper);

    }

    @keyframes blink {
        20% {
            color: cyan;
        }

        40% {
            color: lime;
        }

        60% {
            color: magenta;
        }

        80% {
            color: gold;
        }
    }

    :is(.primary-btn, .secondary-btn) {
        animation: blink infinite 10s;
    }
    :is(.primary-btn, .secondary-btn):hover {
        color: var(--green-light-accent);
        animation: none;
    }

    :is(.title, .subtitle) {
        text-shadow: none;
        color: var(--green-light-accent);
    }

    .computer-logo :is(.inner-case, .letter) {
        fill: var(--green-dark-accent);
    }
    
    .computer-logo :is(.outer-case, .screen) {
        fill: var(--green-light-accent);
    }

    h1 a {
        -webkit-text-stroke-color: var(--green-light-accent);
    }

    h1 a:hover {
        -webkit-text-fill-color: var(--green-light-accent);
    }

    .link a:hover {
        color: var(--green-light-accent);
    }

    .section-title {
        text-shadow: none;
        color: var(--green-light-accent);
    }

    [class$="card"] {
        background: none;
        border: 1px solid var(--purple-light-accent);
        box-shadow: 0px -7.5px var(--purple-light-accent);
        background-color: #333;
    }

    .site-header {
        background-color: var(--paper);
    }
}
