@media (hover: hover) and (pointer: fine) {
    h1 a:hover {
        color: var(--accent);
        -webkit-text-stroke-width: 0px;
    }

    .primary-btn:hover {
        background-size: 100% 3.5px;
    }

    :is(.primary-btn, .secondary-btn):hover span::after {
        margin-left: 15px;
    }

    .secondary-btn:hover {
        background-size: 100% 3px;
    }

    [class*="card"] .link:hover {
        color: var(--accent);
    }
}
