@media (hover: hover) and (pointer: fine) {
    h1 a:hover {
        color: var(--color);
        -webkit-text-stroke-width: 0px;
    }

    .primary-btn:hover {
        background-size: 100% 2.5px;
        color: var(--gray);
    }

    :is(.primary-btn, .secondary-btn):hover span::after {
        margin-left: 15px;
    }

    .secondary-btn:hover {
        background-size: 100% 2.5px;
        color: var(--gray);
    }
}
