@media only screen and (min-width: 500px) {
    .hero-section .text-content {
        gap: 50px;
    }
}

@media only screen and (min-width: 600px) {
    /* SETTINGS */
    html {
        background-color: var(--paper);
    }

    /* HEADER */

    .site-header :is(hr, .site-menu) {
        display: block;
    }
    
}

@media only screen and (min-width: 800px) {
    /* SETTINGS */
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    [class*="card-list"] {
        margin-top: 150px;
        margin-bottom: 150px;
    }

    /* TYPOGRAPHY */
    h1 {
        font-size: var(--font-size-7);
    }

    /* COMPONENTS */
    .primary-btn {
        font-size: var(--font-size-5);
    }

    .primary-btn span::after {
        font-size: var(--font-size-6);
    }
}

@media only screen and (min-width: 1000px) {

    /* MODULES */
    .hero-section__content {
        display: flex;
    }


    /* CARDS */
    [class*="card-list"]{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px;
    }

    [class$="card"] {
        height: 100%;
        /* max-width: 48ch; */
    }

    [class$="card-description"] {
        flex-grow: 1;
    }
}