@media only screen and (min-width: 500px) {
    .hero-section .text-content {
        gap: 50px;
    }
}

@media only screen and (min-width: 600px) {
    /* SETTINGS */
    html {
        background-color: var(--paper);
    }

    /* TYPOGRAPHY */
    .title, .subtitle {
        color: var(--light-accent);
        text-shadow: 1px 1px var(--accent);
    }

    /* HEADER */
    .site-header {
        background-color: var(--paper);
    }

    .site-header :is(hr, .site-menu) {
        display: block;
    }

    .computer-logo :is(.inner-case, .letter) {
        fill: var(--light-accent);
    }
    
    .computer-logo :is(.outer-case, .screen) {
        fill: var(--accent);
    }
    
}

@media only screen and (min-width: 800px) {
    /* SETTINGS */
    section > [class*="content"] {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    /* TYPOGRAPHY */
    h1 {
        font-size: var(--font-size-7);
    }

    /* COMPONENTS */
    .primary-btn {
        font-size: var(--font-size-5);
    }

    .primary-btn span::after {
        font-size: var(--font-size-6);
    }
}

@media only screen and (min-width: 1000px) {

    /* MODULES */
    .hero-section__content {
        display: flex;
    }


    /* CARDS */
    [class*="card-list"]{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

    }

    [class$="card"] {
        height: 100%;
        max-width: 48ch;
    }

    [class$="card-description"] {
        flex-grow: 1;
    }
}