html {
    --lora: "Lora", serif;
    --roboto: "Roboto", sans-serif;

    --xl-text: 32px;
    --l-text: 20px;
    --m-text: 16px;
    --s-text: 14px;
    --xs-text: 12px;

    --ink: #242424;
    --paper: #ECE4D5;
    --color: #CE4E25;
    --gray: #88847D;

    background: var(--ink);

}