body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;

    background-color: var(--paper);
    padding: 10px;
}

body main {
    flex-grow: 1;
}

.inner-column {
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
}


.text-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 3);
    align-items: flex-start;
}