---
permalink: /css/style.css
---

    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

 
{# BASE STYLES #}
{% include "./reset.css" %} 
{% include "./setup.css" %}
{% include "./settings.css" %}
{# {% include "./developer.css" %}  #}
{% include "./structure.css" %}  
{% include "./typography.css" %}

{# MODULES & COMPONENTS #}
{% include "./modules.css" %}
{% include "./components.css" %}

{# POST STYLES #}
{% include "./hover.css" %}
{% include "./media-queries.css" %}
{% include "./dark-mode.css" %}