/* 
|||||||||||||||||||||||||

        FONT IMPORTS

|||||||||||||||||||||||||
*/

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/lora-v32-latin-700.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */ url("../fonts/lora-v32-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/roboto-v30-latin-300.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v30-latin-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/roboto-v30-latin-900.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v30-latin-900.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* 
|||||||||||||||||||||||||

        FONT STYLES

|||||||||||||||||||||||||
*/

.wordmark {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-family: var(--lora);
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: var(--paper);
    font-size: var(--font-size-4);
    text-transform: capitalize;
    letter-spacing: 0.02em;
    font-style: italic;
}

.subtitle {
    font-weight: 500;
    font-family: var(--roboto);
    /* font-weight: 400; */
    color: var(--paper);
    font-size: 16px;
    letter-spacing: 0.02em;
    font-style: italic;

}

h1 {
    font-family: var(--roboto);
    font-size: var(--font-size-5);
    font-weight: 900;
    line-height: 1.2;
    color: var(--ink);
    letter-spacing: 0.02em;
    width: 100%;
    max-width: 30ch;
}

h1 a {
    color: #f1ebe0;
    display: inline-block;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: var(--accent);
    letter-spacing: 0.03em;
    font-weight: 900;
}

.section-title {
    font-family: var(--lora);
    font-family: 'Quicksand', sans-serif;

    font-size: var(--font-size-6);
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: var(--dark-accent);
    font-style: italic;
    font-weight: 300;
    /* text-shadow: 1px 1px var(--dark-accent); */
}
