{% set hero = data.sections.hero %}
{% set jumboText = hero.text %}
{% set link = hero.button.link %}
{% set text = hero.button.text %}

{% module "section", "hero" %}
<div class="text-content">
    <h1>{{ jumboText | safe }}</h1>

    {% button link, text, "primary-btn" %}
</div>
{% endmodule %}