{% module "section", "hero" %}

<h1>I make super awesome websites with <a href="#">Shopify</a> and <a href="#">WordPress</a>. Sometimes I <a href="#">write</a> about it.</h1>

{% button "mailto:hello@michaelhyland.dev", "Let's get to work", "primary-btn" %}

{% endmodule %}