{% module "section", id %}

<div class="section-header">
<h2 class="section-title">Projects</h2>
<hr> 
</div>

<ul class="project-card-list">
    {% for project in collections.projects %}
    <li class="project-card">
        <h3 class="project-card-title">{{ project.data.title }}</h3>

        <p class="project-card-description">{{ project.data.description }}</p>
        
        <ul class="project-link-list">
        {% for tool in project.data.tools %}
            <li class="project-link">
                <h4>{{ tool }}</h4>
            </li>
            {% if loop.last === false %}
            <span class="divider">/</span>
            {% endif %}
        {% endfor %}
        </ul>
        {% button project.url, "Read the case study", "secondary-btn" %}
    </li> 
    {% endfor %}
</ul>
{% endmodule %}