---
layout: base.njk
title: Michael Hyland | Web Developer & Graphic Designer based in Seattle, WA
jumboText: I﻿ make super awesome websites with [Shopify](shopify) and
  [WordPress](wordpress). Sometimes I [write](blog) about it.
link:
  text: Let's get to work
  url: hello@michaelhyland.dev
---
{% include "modules/sections/hero.njk" %}
{% include "modules/sections/projects.njk" %} 
{% include "modules/sections/blog.njk" %} 