.graphic-diptych-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.graphic-diptych .text-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media only screen and (min-width: 600px) {
    .graphic-diptych-content {
        flex-direction: row;
    }
    
    .graphic-diptych [class *="container"] {
        border: 1px solid red;
        width: 50%;
    }
}