.site-footer__content {
    /* display: flex;
    gap: var(--spacing-3); */

    padding-top: 50px;


}

.site-footer {
    background-color: var(--color);
}

.site-footer .site-menu .link a {
    color: var(--paper);
}

