.hero-section__content .text-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media only screen and (min-width: 500px) {
    .hero-section__content .text-content {
        align-items: flex-start;
    }

    .hero-section .text-content {
        gap: 50px;
    }
}
